.list {
    color: #FFF;
    width: 300px;
    background-color: #043a58;
    height: 50px;
    margin: 20px auto;
    border: 5px;
    border-radius: 5px;
}

.list p {
    padding: 15px;
    position: relative;
}

.list p button{
    position: absolute;
    right: 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(165, 16, 16);
    padding: 5px 10px;
    margin-top: -4px;
    color: #FFF;
    cursor: pointer;
}
.list p button:hover {
    background-color: rgb(224, 15, 15);
}

.list p input {
    background-color: transparent;
    border: 0;
    color: #FFF;
    font-size: 18px;
}
.list p input:focus {
    outline: none;
}

